#pagination {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--background-color);
}

#pagination > button {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#pagination > button:hover {
  background-color: rgba(222, 184, 135, 0.477);
}

#pagination > #current-page-button {
  /* background-color: burlywood; */
  font-size: 1.5em;
  font-weight: bold;
  color: burlywood;
}